/* import Button from 'react-bootstrap/Button'; */
/* src/styles.css */

body {
    background-color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

    

}

.headline {
   font-size: 90px; 
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
 
 /*text stroke*/
 /* -webkit-text-stroke: 4px rgba(0, 0, 0, .6); */


    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.listStyle {
    font-size: 80px;
}

.numLeft {
    font-size: 60px;
    text-align: center;
 text-transform: uppercase;
 text-shadow: #2c2c2c 3px 3px 5px;
  
    
    
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
